/* HOME STYLE */
#home section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  min-height: 80vh;
}

#home section h1 {
  text-align: center;
}

#home section p {
  text-align: justify;
  padding: 15px;
  margin: 0 20px;
}
#home section img {
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgb(102, 102, 102);
}

#home article p {
  text-align: center;
}

#home article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  background-color: rgb(247, 247, 247);
}

#home article p,
#home article ul {
  display: flex;
  margin: 20px auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
#home article ul {
  padding: 0;
}

#home article ul li {
  list-style-type: none;
  padding: 10px 0;
  flex: 1;
  /* margin: 0 2px; */
  text-align: center;
}
#home article ul li a {
  color: rgb(51, 51, 51);
}

#home article ul li:hover {
  cursor: pointer;
}

#home article ul li:hover a {
  color: rgb(38, 183, 212);
}

/* MOBILE HOME  */
@media screen and (min-width: 960px) {
  #home article p,
  #home article ul {
    width: 60%;
  }
}
