* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.progress {
    background-color: rgb(62, 122, 235);
    height: 10px;
    border-radius: 1rem;
    transition: ease-in-out;
    transition-delay: 2s;
    transition-duration: 24s;
  }