* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.progress {
    border-radius: 1rem;
    transition: ease-in-out;
    transition-delay: 2s;
    transition-duration: 24s;
}

.nav-link-span:hover {
    color: orange;
    transition: 0.5s ease-in color;
}